[versions]
asm = "9.9"

[libraries]
asm-util = { module = "org.ow2.asm:asm-util", version.ref = "asm" }
errorprone = "com.google.errorprone:error_prone_core:2.42.0"
nullaway = "com.uber.nullaway:nullaway:0.12.15"

#Testing
junit-bom = "org.junit:junit-bom:5.14.1"
junit-jupiter = { module = "org.junit.jupiter:junit-jupiter" }
junit-launcher = { module = "org.junit.platform:junit-platform-launcher" }
junit-engine = { module = "org.junit.jupiter:junit-jupiter-engine" }
assertj = "org.assertj:assertj-core:3.27.6"

[bundles]
junit = ["junit-jupiter", "junit-launcher", "junit-engine"]

[plugins]
errorprone = { id = "net.ltgt.errorprone", version = "4.3.0" }
spotless = { id = "com.diffplug.spotless", version = "8.1.0" }